# App principale
streamlit
spacy

# Modèle spaCy français (via lien direct)
fr-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/fr_core_news_sm-3.7.0/fr_core_news_sm-3.7.0-py3-none-any.whl

# Lecture de documents
python-docx
PyMuPDF
pdf2image
pytesseract

# Pour OCR (Tesseract)
pillow

# Pour éviter erreurs liées à numpy ou versions natives
numpy<1.25
